
body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.hdqwalls.com/download/grey-material-design-4k-7l-2560x1440.jpg');
}
#logo {
    overflow-x: hidden;
    display: inline-block;
    margin: 15px;
    float: none;
    height: 80px;
    width: 80px;
    margin-right: 35px;
  }
  .navbar {
    width: 100%;
    border-bottom: 5px solid rgb(0, 0, 0);
    top: 0;
    background-color: rgb(175, 174, 174);
    position: fixed;
    z-index: 100;
  }

  nav {
    float: right;
    margin-right: 50px;
  }
  ul {
    color: black;
    font-size: xx-large;
    display: inline-block;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: black;
    font-style:initial;
  }
  .boxes {
    margin: auto;
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .box {
    background-color: rgb(207, 201, 201);
    border-radius: 2%;
    width: 200px;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-style:normal;
    transition: .6s
  }
  .box:hover {
    background-color: rgb(241, 241, 241);
    transform: scale(1.1);
    transition: .6s
  }
  .podtext {
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
  }
  .header {
    color:rgb(165, 165, 165);
    text-align: center;
    text-decoration:underline;
  }
  .headerr {
    color: rgb(214, 214, 214);
    text-align: center;
  }
  @media only screen and (max-width: 768px){
nav {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.box {
  text-align: center;
  width: 300px;
  height: 320px;
  font-size: 40px;
}
  }
  .podtext {
    font-size: 25px;
  }
  .boxes {
    flex-wrap: wrap;
    row-gap: 50px;
    margin-top: 250px;
  }
  .header {
    margin-top: 400px;
    font-size: 20px;
  }
  .headerr {
    font-size: 15px;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    border-bottom: 8px solid rgb(0, 0, 0);
    height: 200px
  }
  
  nav {
    float: right;
    text-align: center;
  }
  ul {
    color: black;
    font-size: 23px;
    display: inline-block;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: black;
    font-style:initial;
  }
#logo {
  overflow-x: hidden;
  display: inline-block;
  margin: 15px;
  float: none;
  height: 100px;
  width: 100px;

}
